h1 { 
    color: red; 
}

.description { 
    background-color: rgb(38, 33, 33); 
    color: white; 
}

.ingredients { 
    background-color: navy; 
    font-family: 'Times New Roman', Times, serif; 
    color: white; 
    text-align: center;
}

img { 
height: 200px; 
}

.steps { 
    background-color: yellow; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-weight: bold; 
}